@import "tailwindcss";

@theme inline {
  --color-background: #02152a;
  --font-monserat: var(--font-montserrat);
  --shadow-nav-button: 0px 4px 40.6px 11px rgba(7, 104, 213, 0.86);
  --shadow-service-card: 0px 0px 12.6px 0px #0078ff;
  --shadow-service-card-hover: 0px 0px 37.4px 0px #0078ff;
  --shadow-bottom-banner-img: 0px 4px 57.9px 49px rgba(0, 0, 0, 0.25);
  --shadow-bottom-banner-outer: 0px -72px 114.3px -58px #0078ff;
}
.linear {
  background: linear-gradient(90deg, #0078ff 49.04%, #004899 99.86%);
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #02152a; /* Track color */
}

/* Scrollbar itself */
::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

/* Scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #0078ff; /* Thumb color */
}
